<section id="about">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
  <p style="display: inline">
    <% if (theme.customize.social_links) { %>
      Find me on
      <ul id="sociallinks">
        <% for(var i in theme.customize.social_links) { %>
          <li><a class="icon" target="_blank" href="<%- url_for(theme.customize.social_links[i]) %>" title="<%= i %>"><i class="fa fa-<%= i %>"></i></a></li>
        <% } %>
      </ul>.
    <% } %>
  </p>
</section>

<section id="writing">
  <ul class="post-list">
    <% if (theme.customize.show_all_posts) { %>
      <% var show_posts = page.posts.sort('date', 'desc') %>
    <% } else { %>
      <% var show_posts = site.posts.sort('date', 'desc').limit(theme.customize.post_count || 5) %>
    <% } %>
    <% show_posts.each(function(post, i){ %>
      <li class="post-item">
        <a class="post-item-title" href="<%- url_for(post.path) %>" target="_blank" itemprop="url">
            <i class="fa fa-tree" aria-hidden="true"></i> <%- post.title %>
        </a>
        <div class="post-item-info">
            <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
                <i class="fa fa-calendar" aria-hidden="true"></i> <%= date(post.date, config.date_format) %>
            </time>
            <span><%- partial('_partial/post/tag',{page: post}) %></span>
        </div>
        <div class="post-item-excerpt"><%- post.excerpt %></div>
        <a class="post-item-read-more" href="<%- url_for(post.path) %>" target="_blank" itemprop="url">阅读更多</a>
      </li>
    <% }); %>
  </ul>
  <% if (theme.customize.show_all_posts) { %>
    <%- partial('_partial/pagination') %>
  <% } %>
</section>